/* Color styles */
$basefont: "Roboto", sans-serif;

// colors
$header: #080b12;
$main: #141922;
$footer: #282828;
$text: #747272;
$sidebar: #000000;
// colors from Jumbotron
$lightbrown: #8C472E;
$darkbrown: #401F13;
$green: #3A591B;
$gray: #556773;
$darkgray: #1C2226;
